# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE / editor settings
.vscode/
.idea/
.vs/

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
*.csproj
*.sln
*.user
*.suo
*.pidb
*.booproj

# Builds & packages
*.apk
*.aab
*.unitypackage
*.app

# Crash logs
crash.log
